<div class="row">
    <div class="col-12">
        <label for="">Searching for...</label>
        <input type="search" class="form-control" >
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm-6 col-md-3 mb-3">
        <app-movie-card></app-movie-card>
 
    </div>
    <div class="col-sm-6 col-md-3 mb-3">
        <app-movie-card></app-movie-card>
 
    </div>
    <div class="col-sm-6 col-md-3 mb-3">
        <app-movie-card></app-movie-card>
 
    </div>
    <div class="col-sm-6 col-md-3 mb-3">
        <app-movie-card></app-movie-card>
 
    </div>
    <div class="col-sm-6 col-md-3 mb-3">
        <app-movie-card></app-movie-card>
 
    </div>
    <div class="col-sm-6 col-md-3 mb-3">
        <app-movie-card></app-movie-card>
 
    </div>
    <div class="col-sm-6 col-md-3 mb-3">
        <app-movie-card></app-movie-card>
 
    </div>
    <div class="col-sm-6 col-md-3 mb-3">
        <app-movie-card></app-movie-card>
 
    </div>
    <div class="col-sm-6 col-md-3 mb-3">
        <app-movie-card></app-movie-card>
 
    </div>
    
</div>