<form [formGroup]="form" (ngSubmit)="submit()" >

    <div class="form-group">
      <label for="">Fullname <span class="text-danger" *ngIf="form.controls.fullname.valid == false" >*</span> </label> <br>
      <input class="form-control" type="text"  formControlName="fullname" >
    </div>
    <div class="form-group">
      <label for="">Email <span class="text-danger" *ngIf="form.controls.email.valid == false" >*</span> </label><br>
      <input class="form-control" type="text" formControlName="email"  >
    </div>
  
    <div class="form-group">
        <label for="">Address <span class="text-danger" *ngIf="form.controls.email.valid == false" >*</span> </label><br>
        <input class="form-control" type="text" formControlName="address"  >
      </div>
    
  
  
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="! form.valid" >Add employee</button>
    </div>
    
    
  </form>