
<div class="card">
    <div class="card-body">
         <form [formGroup]="orderForm" (ngSubmit)="addOrder()" >
             
             
            <div class="form-group mb-3">
                <label for="">Product</label>
                <select class="form-control"   formControlName="product">
                    <option value="">Please choose a value</option>
                    <option [value]="d.id" *ngFor="let d of products">{{d.name}}</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="">Quantity</label>
                <input class="form-control" type="number" formControlName="quantity">
            </div>
            <div class="form-group mb-3">
                 <button class="btn btn-primary" type="submit">Add</button>
            </div>



 
           
         </form>


         <hr>
         <h3>Orders : {{orders.length}} items </h3>

         <button class="btn btn-warning" (click)="validate()">PLace order</button>
    </div>
</div>