
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h3>Employees</h3>

            <a routerLink="/employees/add" class="btn btn-primary">Add</a>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
               
                    <tr>
                        <th>#</th>
                        <th>Fullname</th>
                        <th>Email</th>
                        
                    </tr>
                
                
            </thead>
            <tbody>
                <tr *ngFor="let d of employees; let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{d.fullname}}</td>
                    <td>{{d.email}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>